<?xml version="1.0" encoding="UTF-8"?>
<!--
    Please refer to machine.config.comments for a description and
    the default values of each configuration section.

    For a full documentation of the schema please refer to
    http://go.microsoft.com/fwlink/?LinkId=42127

    To improve performance, machine.config should contain only those
    settings that differ from their defaults.
-->
<configuration>
	<system.webServer>
		<rewrite>
			<rules>

			 <rule name="HTTP to HTTPS redirect" stopProcessing="true">
                        <match url="(.*)" />
                        <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                        </conditions>
                        <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
                        </rule>
            <rule name="topstack">
            <match url="^\$best$" />
                <action type="Rewrite" url="stack.php" appendQueryString="false" />
            </rule>
            <rule name="moneytopstack">
            <match url="^\$topstack$" />
            <action type="Redirect" redirectType="Found" url="$best" appendQueryString="false" />
            </rule>
            <rule name="allstack">
            <match url="^\$everything$" />
            <action type="Rewrite" url="stack.php?id=-1" appendQueryString="false" />
            </rule>
            <rule name="userstack">
            <match url="^\$followed$" />
            <action type="Rewrite" url="stack.php?id=-2" appendQueryString="false" />
            </rule>
            <rule name="newstack">
            <match url="^\$recent$" />
            <action type="Rewrite" url="stack.php?id=-3" appendQueryString="false" />
            </rule>
            <rule name="geostack">
            <match url="^\$near$" />
            <action type="Rewrite" url="stack.php?id=4917" appendQueryString="false" />
            </rule>
            <rule name="stackstwo">
                <match url="^(\$.[_0-9a-z-]?)$" />
                <action type="Rewrite" url="stack.php?id={R:1}" appendQueryString="false" />
            </rule>
			  <rule name="stacks">
				  <match url="^(\$.[_0-9a-z-]+)$" />
				<action type="Rewrite" url="stack.php?id={R:1}" appendQueryString="false" />
			  </rule>
			  <rule name="users">
				  <match url="^u/([_0-9a-z-]+)$" />
				<action type="Rewrite" url="stack.php?id={R:1}" appendQueryString="false" />
			  </rule>
                <rule name="userss">
                    <match url="^@([_0-9a-z-]+)" />
                    <action type="Rewrite" url="stack.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="comments">
                    <match url="^p/([0-9]+)&amp;([_0-9]+)$" />
                    <action type="Rewrite" url="post.php?id={R:1}&amp;cid={R:2}" appendQueryString="false"/>
                </rule>
               <rule name="posts">
					<match url="^p/([0-9]+)$" />
					<action type="Rewrite" url="post.php?id={R:1}" appendQueryString="false" />
				</rule>
				<rule name="stack">
					<match url="^stacks$" />
					<action type="Rewrite" url="stacks.php" appendQueryString="false" />
				</rule>
                <rule name="home">
                    <match url="^home$" />
                    <action type="Rewrite" url="index.php" appendQueryString="false" />
                </rule>
                <rule name="settings">
                    <match url="^settings$" />
                    <action type="Rewrite" url="settings.php" appendQueryString="false" />
                </rule>
                <rule name="about">
                    <match url="^about$" />
                    <action type="Rewrite" url="about.php" appendQueryString="false" />
                </rule>
                <rule name="faq">
                    <match url="^faq$" />
                    <action type="Rewrite" url="faq.html" appendQueryString="false" />
                </rule>
			</rules>
		</rewrite>
		<asp>
         	<session allowSessionState="true" timeout="01:00:00" />
      	</asp>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
	</system.webServer>
  <system.web>
    <sessionState timeout="60" />
  </system.web>
</configuration>